HOST=127.0.0.1
PORT=3847
OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=
OLLAMA_THINK=false
OLLAMA_NUM_CTX=8192
OLLAMA_KEEP_ALIVE=15m
OLLAMA_REQUEST_TIMEOUT_MS=120000
EC_PROVIDER=ollama
EC_MEMORY_DIR=./data

